[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
poliastro = {extras = ["cesium"],version = "~=0.13.0"}
jupyterlab = "*"
orbit-predictor = "*"

[requires]
python_version = "3.7"
